<app-header></app-header>

<app-slides></app-slides>

<section id="modulos">
    <div class="container">
        <owl-carousel-o [options]="sliderHomeModulesOptions">

            <ng-template carouselSlide>
                <div class="modulos-elemento" id="campanias">
                    <img class="icos-modulos" src="./assets/images/ico-campanias.svg"/>
                    <h3>Nuestras campañas</h3>
                    <p>Acceda material multimedia de nuestras marcas y campañas para comunicación en medios digitales y pantallas</p>
                    <a [routerLink]="['/campanias']" id="cta-home-campanias">Conozca más <span>></span></a>
                </div>
            </ng-template>  
    
            <ng-template carouselSlide>
                <div class="modulos-elemento" id="productos">
                    <img class="icos-modulos" src="./assets/images/ico-catalogo.svg"/>
                    <h3>Catálogo de productos</h3>
                    <p>Descargue las imágenes y descripciones de los productos de las marcas Gabrica para uso en medios digitales</p>
                    <a [routerLink]="['/catalogo-productos']" id="cta-home-productos">Descargue aquí <span>></span></a>
                </div>
            </ng-template> 
            
            <ng-template carouselSlide>
                <div class="modulos-elemento" id="videos">
                    <img class="icos-modulos" src="./assets/images/ico-videos.svg"/>
                    <h3>Biblioteca de videos</h3>
                    <p>
                        Descargue videos de las marcas y productos de Gabrica para compartir con sus clientes
                    </p>
                    <a [routerLink]="['/videos']" id="cta-home-videos">Conozca más <span>></span></a>
                </div>
            </ng-template> 

            <ng-template carouselSlide>
                <div class="modulos-elemento" id="fichas-tecnicas">
                    <img class="icos-modulos" src="./assets/images/ico-videos.svg"/>
                    <h3>Fichas Técnicas</h3>
                    <p>
                        Descargue videos de las marcas y productos de Gabrica para compartir con sus clientes
                    </p>
                    <a [routerLink]="['/fichas-tecnicas']" id="cta-home-fichas-tecnicas">Conozca más <span>></span></a>
                </div>
            </ng-template> 
    
        </owl-carousel-o>
    </div>
</section>

<!--<app-condiciones-comerciales></app-condiciones-comerciales>-->

<app-footer></app-footer>
