<app-header></app-header>
<app-menu></app-menu>

<section id="cabecera-interna" class="cabecera-videos">
    <div class="container d-flex align-items-center ">
        <div class="box-txt-cabecera-campanias">
            <h1>Listado de fichas técnicas de {{marca | lowercase}}</h1>
            <div id="tags">
                <h6>En esta sección usted puede realizar la búsqueda de los productos del catálogo de Gabrica por marcas, especies, categorías y especialidades, para descargar sus imágenes y descripciones para páginas web y medios digitalesa</h6>
            </div>
        </div>
    </div>
</section>

<section id="contenido-productos">
    <div class="container">
        <table class="table table-striped" width="100%" border="0">
            <thead>
                <th scope="row">
                    Nombre de la ficha técnica
                </th>
                <th scope="row">
                    Descargar
                </th>
            </thead>
            <tbody>
                <tr *ngFor="let ficha of fichas">
                    <td>
                        {{ficha.name}}
                    </td>
                    <td>
                        <a [href]="ficha.key" target="_blank"><img src="/assets/images/download-pdf.png" alt="download" width="32"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<app-footer></app-footer>

