<footer>
    <div class="container">
        <img class="img-fluid" src="./assets/images//LogoGabrica.svg" />

        <div class="row">
            <div class="col-md-4">
                <h3>Contáctenos</h3>
                <ul>
                    <li>Servicio al cliente <br/> +57 519 0040</li>
                    <li>Calle 164 # 15 - 37</li>
                    <li>servicioalcliente@gabrica.com.co</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Síganos en redes sociales</h3>
                <div id="redes" class="d-flex align-items-center">
                    <a href="#" target="_blank"><img class="img-fluid" src="./assets/images//facebook.svg" /></a>
                    <a href="#" target="_blank"><img class="img-fluid" src="./assets/images//twitter.svg" /></a>
                    <a href="#" target="_blank"><img class="img-fluid" src="./assets/images//instagram.svg" /></a>
                    <a href="#" target="_blank"><img class="img-fluid" src="./assets/images//youtube.svg" /></a>
                    <a href="#" target="_blank"><img class="img-fluid" src="./assets/images//spotify.svg" /></a>
                </div>
            </div>
            <div class="col-md-4">
                <h3>Políticas</h3>
                <ul>
                    <li><a href="#">Política de Tratamiento de Datos Personales</a></li>
                    <li><a href="#">Protocolos de Bioseguridad</a></li>
                    <li>© Copyright Gabrica 2020</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
