<div class="box-item-campania" >
    <img class="img-fluid img-item-campania" src="{{url_recursos}}{{campania.imagen_card}}" alt="" />
    <div class="box-txt-item-campania">
        <h4>{{campania.titulo}}</h4>
        <p>
            {{campania.descripcion_corta}}
        </p>
            <a data-fancybox data-src="#hidden-content" href="javascript:;" class="conoce-mas" (click)="openModal(template)">Conoce más</a>
        <hr/>
        <ul>
            <li *ngIf="campania.download_url">
                <a [href]="url_recursos + campania.download_url" id="paquete-completo-{{campania.titulo | cleanId}}" download><img src="./assets/images/ico-descarga.svg" width="22"/> Descargar todos los archivos</a>
            </li>
            <li *ngIf="campania.facebook_url">
                <a [href]="url_recursos + campania.facebook_url" id="pieza-facebook-{{campania.titulo | cleanId}}" download><img src="./assets/images/ico-fb.svg" width="22"/> Piezas para Facebook e Instagram</a>
            </li>
            <li *ngIf="campania.pantallas_url">
                <a [href]="url_recursos + campania.pantallas_url" id="pieza-pantallas-{{campania.titulo | cleanId}}" download><img src="./assets/images/ico-pantalla.svg" width="22"/> Banner para pantalllas TV</a>
            </li>
            <li *ngIf="campania.email_url">
                <a [href]="url_recursos + campania.email_url" id="pieza-youtube-{{campania.titulo | cleanId}}" download><img src="./assets/images/ico-email.svg" width="22"/> Pieza para Email</a>
            </li>
            <li *ngIf="campania.whatsapp_url">
                <a [href]="url_recursos + campania.whatsapp_url" id="pieza-whatsapp-{{campania.titulo | cleanId}}" download><img src="./assets/images/ico-wapp.svg" width="22"/> Piezas para Whatsapp</a>
            </li>
        </ul>
    </div>
</div>

<ng-template #template>
    <a class="cerrar-modal" (click)="modalRef.hide()">X</a>   
    <div class="modal-body">
        <img class="img-fluid" src="{{url_recursos}}{{campania.imagen_card}}" alt="{{campania.titulo}}"/>        
        <div class="box-item-info-modal-campania">
            <div id="logo-interna" class="logo-modal-campania">
                <img src="{{url_recursos}}{{campania.imagen_modal}}" alt="{{campania.titulo}}">
            </div>
            <div class="row">
                <div class="col-md-7">
                    <h3>{{campania.titulo}}</h3>
                    <p>
                        {{campania.descripcion}}
                    </p>
                </div>
                <div class="col-md-5">
                    <ul>
                        <li *ngIf="campania.download_url">
                            <a [href]="url_recursos + campania.download_url">
                                <img src="./assets/images/ico-descarga.svg" id="paquete-completo-modal-{{campania.titulo | cleanId}}" width="22" /> Descargar todos los archivos
                            </a>
                        </li>
                        <li *ngIf="campania.facebook_url">
                            <a [href]="url_recursos + campania.facebook_url">
                                <img src="./assets/images/ico-fb.svg" width="22" id="pieza-facebook-modal-{{campania.titulo | cleanId}}"/> Piezas para Facebook e Instagram
                            </a>
                        </li>
                        <li *ngIf="campania.pantallas_url">
                            <a [href]="url_recursos + campania.pantallas_url">
                                <img src="./assets/images/ico-pantalla.svg" width="22" id="pieza-pantallas-modal-{{campania.titulo | cleanId}}"/> Banner para pantalllas TV
                            </a>
                        </li>
                        <li *ngIf="campania.email_url">
                            <a [href]="url_recursos + campania.email_url">
                                <img src="./assets/images/ico-email.svg" width="22" id="pieza-youtube-modal-{{campania.titulo | cleanId}}"/> Videos para Youtube y Pantallas
                            </a>
                        </li>
                        <li *ngIf="campania.whatsapp_url">
                            <a [href]="url_recursos + campania.whatsapp_url">
                                <img src="./assets/images/ico-wapp.svg" width="22" id="pieza-whatsapp-modal-{{campania.titulo | cleanId}}"/> Piezas para Whatsapp
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</ng-template>