<app-header></app-header>
<app-menu></app-menu>

<section id="cabecera-interna">
    <div class="container">
        <h1>Unidos por lo que MAX quieres</h1>
        <div id="tags">
            <h6>MAX saludable, MAX original</h6>
        </div>
        <div id="logo-interna">
            <img src="../../assets/images/Logo-max.svg" alt="Max">
        </div>
    </div>
</section>

<section id="contenido-interna">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <p>
                    Estamos unidos por lo que el padre 
                    de la mascota MAX quiere: diversión y premios!!!! por eso llega MAX FANS el concurso donde entregaremos 
                    fabulosos premios quincenalmente.
                </p>

                <h3>Premios octubre:</h3>
                <ul>
                    <li>1 quincena: celulares</li>
                    <li>2 quincena: computadores portatiles.</li>
                </ul>

                <p>
                    Recuerda que si gana el padre de mascota también gana el negocio donde él compro su alimento MAX.
                </p>
            </div>
            <div class="col-md-5">
                <div id="box-fechas">
                    <img class="img-fluid" src="../../assets/images/ico-fechas.svg" />
                    <h3>Fecha de la promoción</h3>
                    <p>
                        Desde el 15 de Septiembre hasta el 30 de Noviembre
                    </p>
                    <button class="cta-morado">Participa en este concurso</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div id="banner-interna">
        <div class="row">
            <div class="col-md-6 txt-banner-interna">
                <h3>Queremos darte la mejor atención para tu negocio</h3>
                <p>Contacta a tu RTC y conoce más información de esta <br/>y otras promociones especiales.</p>
                <button class="cta-blanco">¡Contactar RTC!</button>
            </div>
            <div class="col-md-6 img-banner-interna">
                <img class="img-fluid" src="../../assets/images/cliente-img.png" alt=""/>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>
